# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [5]:
users=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",sep="|")
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [6]:
df=users.copy()

### Step 4. Discover what is the mean age per occupation

In [7]:
df.groupby("occupation").agg({"age":"mean"})

                     age
occupation
administrator  38.746835
artist         31.392857
doctor         43.571429
educator       42.010526
engineer       36.388060
entertainment  29.222222
executive      38.718750
healthcare     41.562500
homemaker      32.571429
lawyer         36.750000
librarian      40.000000
marketing      37.615385
none           26.555556
other          34.523810
programmer     33.121212
retired        63.071429
salesman       35.666667
scientist      35.548387
student        22.081633
technician     33.148148
writer         36.311111

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [20]:
erkek=df[df["gender"]=="M"].groupby("occupation")["gender"].count()
kadin=df[df["gender"]=="F"].groupby("occupation")["gender"].count()

In [23]:
(erkek["gender"] / (erkek["gender"]+kadin["gender"])).sort_values(ascending=False)

KeyError: 'gender'

In [18]:
k

occupation
administrator    36
artist           13
educator         26
engineer          2
entertainment     2
executive         3
healthcare       11
homemaker         6
lawyer            2
librarian        29
marketing        10
none              4
other            36
programmer        6
retired           1
salesman          3
scientist         3
student          60
technician        1
writer           19
Name: gender, dtype: int64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [25]:
df.groupby("occupation").agg({"age":["max","min"]}).head()

              age
              max min
occupation
administrator  70  21
artist         48  19
doctor         64  28
educator       63  23
engineer       70  22

### Step 7. For each combination of occupation and gender, calculate the mean age

In [ ]:
df.groupby(["occupation","gender"]).agg({"age":"mean"})